*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    box-sizing: border-box;
    text-decoration: none;

}

.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}
a{
    text-decoration: none;
}

header{
    padding: 20px 0;
    width: 100%;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    margin: 0 10px;
    font-size: 15px;
    font-weight: 700;
    color: black;

}
header nav a:hover{
    color: gray;
}
.text1{
    font-size: 20px;
    width: 600px;
    margin-left: 100px;
    padding-top: 150px;
    letter-spacing: 1.5px;
}
.text1 span{
    color: aqua;

   
}
.ai-img img{
    width: 700px;
    height: 500px;
    border-radius: 40px 0 0 40px;
    margin-left: 818px;
    margin-top: -350px;
}

.nout-img img{
    width: 700px;
    height: 500px;
    border-radius: 0px 40px 40px 0px;
    margin-top: 50px;
}

.text2{
    font-size: 20px;
    margin-top: -350px;
    width:600px ;
    margin-left: 850px;
}

footer{
    height: 350px;
    background-color: black;
    margin-top: 250px;
}
.text3{
  padding-top: 140px;
  color: white;
  margin-left: 100px;
}
.strok{
    margin-left: 600px;
    text-decoration: none;
    margin-top: 80px;
}
.strok a{
    color: white;
    display: flex;
    margin-top: -50px;

}
.strok2{
    margin-left: 800px;
    text-decoration: none;
    margin-top: 50px;
}
.strok2 a{
    color: white;
    display: flex;
    margin-top: -50px;

}

.strok3 {
    margin-left: 1000px;
    text-decoration: none;
    margin-top: 50px;
    
}
.strok3 a{
    color: white;
    display: flex;
    margin-top: -50px;

}


.strok4{
    margin-left: 1200px;
    text-decoration: none;
    margin-top: 50px;
}
.strok4 a{
    color: white;
    display: flex;
    margin-top: -50px;

}

.strok a:hover{
    color: rgb(120, 123, 126);
}
.strok2 a:hover{
    color: rgb(120, 123, 126);
}
.strok3 a:hover{
    color: rgb(120, 123, 126);
}
.strok4 a:hover{
    color: rgb(120, 123, 126);
}



